.jumbotron {
  height: 100px!important;
  padding: 10px!important;
}
.chatblock {
  border: 2px solid lightgray;
  border-radius: 8px;
  height: 300px;
  margin-right: 5px;
}

.bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}